# ── Application ───────────────────────────────────────────
APP_NAME="Inara"
DEBUG=false
API_V1_PREFIX="/api/v1"

# ── Database ──────────────────────────────────────────────
DATABASE_URL=postgresql://inara:__suj*@*n05__@vco4cg0gc4ss044w80008ckc:5432/postgres
POSTGRES_USER=inara
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# ── Security ──────────────────────────────────────────────
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# ── SMTP / Email ──────────────────────────────────────────
SMTP_TLS=true
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com
SMTP_USER=zaman.maktech@gmail.com
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=zaman.maktech@gmail.com
EMAILS_FROM_NAME="Inara App™"

# ── CORS ──────────────────────────────────────────────────
ALLOWED_ORIGINS=https://inara-backend.mtscorporate.com,http://localhost:*,http://127.0.0.1:*

# ── Server ────────────────────────────────────────────────
BACKEND_PORT=8000

CLOUDINARY_CLOUD_NAME=drq1kira8
CLOUDINARY_API_KEY=541895
CLOUDINARY_API_SECRET=wvGg7